// Here you can add other styles

$text-muted:        $gray-500;

/* Cards */
.card {
    border: none
}
.card-body {
    background: $gray-800
}
.card-title {
    color: $white
}
.card-footer {
    background: $gray-800
}

.main {
    background: #1D262B
}

body {
    color: $gray-200
}

/* Header */
.app-header .navbar {
    border-bottom: 1px solid $gray-500
}

/* Breadcrumb */
.breadcrumb {
    background: $gray-800;
    border-bottom: none
}
.breadcrumb-item {
    color: $gray-400;
}

/* Sidebar */
.sidebar-nav {
    background: $gray-800
}

.sidebar-minimizer .sidebar {
    background: $gray-800
}